<%= form_with model: @user, url: users_user_path(@user), local: true do |f| %>
<div class="container">


    <div class="row">
      <div class="col-9">
        <div class="card img-thumbnail text-center">
          <span class="text-center m-3"><%= attachment_image_tag @user, :profile_image, format: "jpg", size: "600x400", fallback: "no_image.jpg" %></span>
          <div class="card-body px-2 py-3">
            <%= f.attachment_field :profile_image %>
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-sm-6.col-md-3 -->
    </div>


  <div class="row m-2 mt-3">
    <div class="col-3"><span class="align-middle">名前</span></div>
    <div class="col-3"><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %></div>
    <div class="col-3"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">フリガナ</span></div>
    <div class="col-3"><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control" %></div>
    <div class="col-3"><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "form-control" %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">メールアドレス</span></div>
    <div class="col-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">生年月日</span></div>
    <div class="col-3"><%= raw sprintf(f.date_select(:birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator: '%s'),'年 ','月 ') + '日' %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">性別</span></div>
    <div class="col-3"><%= f.radio_button :gender, :男性 %>  <%= f.label :男 %>  <%= f.radio_button :gender, :女性 %>  <%= f.label :女 %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">郵便番号(ハイフンなし)</span></div>
    <div class="col-3"><%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "form-control" %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">住所</span></div>
    <div class="col-2"><%= f.select :prefecture, User.prefectures.keys.to_a, {prompt: '選択してください'}, class: "custom-select" %></div>
    <div class="col-4"><%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %></div>
  </div>

  <div class="row m-2">
    <div class="col-3"><span class="align-middle">電話番号(ハイフンなし)</span></div>
    <div class="col-3"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %></div>
  </div>

  <div class="row m-5">
    <div class="col-3 offset-3">
      <%= f.submit "編集内容を保存する", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
</div>