<div class="container">
	<%= render "users/top/list" %>
	<div class="row mt-5">
		<div class="col">
			<table class="table table-hover">
				<tbody>
					<% @users.each do |user| %>
						<% if user.id != current_user.id %>
							<tr>
								<td class="align-middle text-center border-bottom" width="150"><%= attachment_image_tag user, :profile_image, format: "jpg", size: "50x50", fallback: "no_image.jpg" %></td>
								<td class="align-middle border-bottom" width="300"><%= user.last_name %> <%= user.first_name %></td>
								<td class="align-middle border-bottom" width="150"><%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000  %>才</td>
								<td class="align-middle border-bottom" width="150"><%= user.prefecture %></td>
								<td class="align-middle text-center border-bottom" width="300"><%= render "users/relationships/follow_button", user: user %></td>
								<td class="align-middle text-center border-bottom" width="150"><%= link_to "詳細", users_user_path(user) %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-4 offset-4">
        	<%= paginate @users %>
      	</div>
	</div>
</div>