<div class="container">
	<%= render "users/top/list" %>
	<div class="row">
		<div class="col">
			
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col">
			<table class="table table-hover">
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, format: "jpg", size: "50x50", fallback: "no_image.jpg" %></td>
							<td class="align-middle"><%= user.last_name %> <%= user.first_name %></td>
							<td class="align-middle"><%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000  %>才</td>
							<td class="align-middle"><%= user.prefecture %></td>
							<td class="align-middle"><%= render "users/relationships/follow_button", user: user %></td>
							<td class="align-middle"><%= link_to "詳細", users_user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>