<div class="btn-group d-flex">
	<%= link_to "Q＆A一覧", admins_questions_path, class: "btn page-link text-dark d-inline-block w-100" %>
	<%= link_to "記事一覧", admins_articles_path, class: "btn page-link text-dark d-inline-block w-100" %>
	<%= link_to "言語ジャンル", admins_programming_languages_path, class: "btn page-link text-dark d-inline-block w-100" %>
	<%= link_to "ユーザー一覧", admins_users_path, class: "btn page-link text-dark d-inline-block w-100" %>
	<%= link_to "企業評価一覧", admins_companies_path, class: "btn page-link text-dark d-inline-block w-100" %>
</div>