<div class="btn-group d-flex">
  <%= link_to "トップページ", root_path, class: "btn page-link text-dark d-inline-block w-100" %>
  <%= link_to "Q＆Aを見る", users_questions_path, class: "btn page-link text-dark d-inline-block w-100" %>
  <%= link_to "記事を見る", users_articles_path, class: "btn page-link text-dark d-inline-block w-100" %>
  <%= link_to "ユーザー一覧", users_users_path, class: "btn page-link text-dark d-inline-block w-100" %>
  <%= link_to "ユーザー検索", users_questions_path, class: "btn page-link text-dark d-inline-block w-100" %>
  <%= link_to "企業評価を見る", users_companies_path, class: "btn page-link text-dark d-inline-block w-100" %>
</div>