<%= form_with model: @article, url: users_article_path(@article), local: true do |f| %>
	<div class="container">
		<%= render 'layouts/error_messages', model: f.object %>
		<div class="row">
			<div class="col-4 offset-4">
				<%= f.label :タイトル, class: "h4" %><br />
				<%= f.text_field :article_title, class: "form-control" %>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-4 offset-4" style="height:300px;">
				<%= f.label :投稿内容, class: "h4" %><br />
				<%= f.text_area :article_body, class: "form-control h-100" %>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-3 m-auto">
				<%= f.submit "編集内容を保存する", class: "btn btn-success btn-block mt-5" %>
			</div>
		</div>

	</div>
</div>
<% end %>