<div class="container">
	<%= render "users/top/list" %>
	<div class="row mt-5">

		<div class="col">
			<table class="table" style="table-layout:fixed;width:100%;">
				<thead>
					<tr>
						<th class="border-top-0" colspan="2"><%= @article.article_title %></th>
						<td class="border-top-0 text-center" width="110">
							<% if @article.user_id == current_user.id %>
								<%= link_to "編集する", edit_users_article_path(@article), class: "btn btn-primary text-center" %></td>
							<% else %>
							<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="word-wrap:break-word;" colspan="3"><%= @article.article_body %></td>
					</tr>
					<tr>
						<td class="border-top-0  border-bottom" colspan="3">
							<div class="row pt-3">
								<div class="col-auto mr-auto"><br>
																  コメント数：<%= @article.post_comments.count %>
																  <% if @article.favorited_by?(current_user) %>
																  	<%= link_to users_article_favorites_path(@article), method: :delete do %>
																  		<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
																  		いいね：<%= @article.favorites.count %>
																  	<% end %>
																  <% else %>
																  	<%= link_to users_article_favorites_path(@article), method: :post do %>
																  		<i class="fa fa-heart-o" aria-hidden="true"></i>
																  		いいね：<%= @article.favorites.count %>
																  	<% end %>
																  <% end %>
								</div>
								<div class="col-auto"><%= @article.created_at.strftime('%Y/%m/%d') %><br>By <%= @article.user.last_name %><%= @article.user.first_name %></div>
							</div>
						</td>
					</tr>
					<% @article.post_comments.each do |post_comment| %>
					<tr>
						<td colspan="3"><%= post_comment.comment %></td>
					</tr>
					<tr>
						<td class="text-right border-top-0  border-bottom" colspan="3"><%= post_comment.created_at.strftime('%Y/%m/%d') %><br>By <%= post_comment.user.last_name %><%= post_comment.user.first_name %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= form_with model:[@article, @post_comment], url: users_article_post_comments_path(@article), local: true do |f| %>
				<%= render 'layouts/error_messages', model: f.object %>
				<div class="col mb-4"><%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control" %></div>
				<div class="col-3 m-auto"><%= f.submit "コメントする", class: "btn btn-success btn-block" %></div>
			<% end %>
		</div>
	</div>
</div>