<!DOCTYPE html>
<html>
  <head>
    <title>EngineerLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fbe007337b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item m-4">
            <span></span>
          </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", users_user_path(current_user.id), class: "page-link text-dark d-inline-block btn" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "page-link text-dark d-inline-block btn" %></li>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: "page-link text-dark d-inline-block btn" %>
          <%= link_to 'ログイン', new_user_session_path, class: "page-link text-dark d-inline-block btn" %>
        <% end %>
      </ul>
    </header>
    
    <%= yield %>
    
  </body>
</html>
